<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="~{/include/header::header}"></div>
    <link rel="stylesheet" href="/static/css/typo.css" th:href="@{/css/typo.css}"/>
</head>
<body>
<div class="typo typo-textarea animate__bounceInDown">
    <h1>江城子·乙卯正月二十日夜记梦</h1>
    <p>十年生死两茫茫，不思量，自难忘。千里孤坟，无处话凄凉。纵使相逢应不识，尘满面，鬓如霜。
        夜来幽梦忽还乡，小轩窗，正梳妆。相顾无言，惟有泪千行。料得年年肠断处，明月夜，短松冈。(肠断 一作：断肠)</p>
    <h1>江城子·乙卯正月二十日夜记梦</h1>
    <p>十年生死两茫茫，不思量，自难忘。千里孤坟，无处话凄凉。纵使相逢应不识，尘满面，鬓如霜。
        夜来幽梦忽还乡，小轩窗，正梳妆。相顾无言，惟有泪千行。料得年年肠断处，明月夜，短松冈。(肠断 一作：断肠)</p>
    <h1>江城子·乙卯正月二十日夜记梦</h1>
    <p>十年生死两茫茫，不思量，自难忘。千里孤坟，无处话凄凉。纵使相逢应不识，尘满面，鬓如霜。
        夜来幽梦忽还乡，小轩窗，正梳妆。相顾无言，惟有泪千行。料得年年肠断处，明月夜，短松冈。(肠断 一作：断肠)</p>
</div>
<div class="animated fadeInUp">你好</div>
</body>
</html>