<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:fragment="header">
        <script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css}">
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
        <link rel="stylesheet" href="/static/css/animate.min.css" th:href="@{/css/animate.min.css}"/>
        <link rel="stylesheet" href="/static/plugs/sweetalert/sweetalert.css" th:href="@{/plugs/sweetalert/sweetalert.css}"/>
        <link rel="stylesheet" href="/static/plugs/jQuery-Tags-Input-master/src/jquery.tagsinput.css" th:href="@{/plugs/jQuery-Tags-Input-master/src/jquery.tagsinput.css}"/>
    </div>
</head>
<body>
</body>
</html>