<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header" id="minister">
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}"><i class="fa fa-home" aria-hidden="true">&nbsp;&nbsp;首页</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/category/0'}"><i class="fa fa-clock-o" aria-hidden="true">&nbsp;&nbsp;分类</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-comments-o" aria-hidden="true">&nbsp;&nbsp;留言</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-id-card" aria-hidden="true">&nbsp;&nbsp;关于我</i></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 " type="text" placeholder="搜索.....">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </nav>
    <!-- 个人信息展示 -->
    <div id="myself">
        <div id="avatar">
            <img id="avatar_image" th:src="@{/css/img/avatar/avatar.jpg}" width="80px" height="80px" style="border-radius: 50%;">
        </div>
        <div id="sentence">
            <span>等风来,不如追风去。</span>
        </div>
    </div>
</header>
</body>
</html>